$provisional-grey: #828282;

//Blues
$darker-blue: #1968f8;
$dark-blue: #4694f8;
$regular-blue: #6bb0fc;
$light_blue: #c6dfff;
$title-blue: #6bb0fc;

//Greys
$dark-grey: #00000070;
$regular-grey: #00000036;
$light-grey: #cccccc;
$input-label-grey: #9f9f9f;
$menu-items: #fafafa;
$box-shadow: #00000017;
$line-divider: #fbfbfb;

//Yellow
$dark-yellow: #feca01;

//Red
$cancelled-red: #fc6b6b;
